@import "./__viewport.css";
@import "./fonts/Poppins.css";
@import "./fonts/DrukWide.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    background-color: rgb(35, 34, 34);
}

.__list li:hover hr {
    visibility: visible;
}

.__list li div div p {
    transition-duration: 0.2s;
    transform: translateY(0%);
}

.__list li div:hover div p {
    transition-duration: 0.2s;
    transform: translateY(-100%);
}
