@import "./__viewport.css";
@import "./fonts/Poppins.css";
@import "./fonts/DrukWide.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* font-family: "Druk Wide Bold"; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    background-color: rgb(35, 34, 34);
    /* background-color: #e3e3d9; */
    /* color: #be3f35;
    color: #212529; */
}