@import "./__viewport.css";
@import "./fonts/Poppins.css";
@import "./fonts/DrukWide.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100%;
    height: 100%;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    background-color: #3b76ac;
}

body {
    background-image: url("/assets/images/hummingbird-7745078.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.__list li:hover hr {
    visibility: visible;
}
