@media only screen and (max-width: 766px) {
    .__list {
        margin: 0px 10px !important;
        padding: 0 !important;
    }

    .__list li div:first-child span {
        font-size: 24px;
    }

    .__list li div:last-child {
        margin-top: 5px !important;
        font-size: 16px;
    }

    .__list li div:first-child {
        width: 120px !important;
        min-width: 120px !important;
    }
}